@page
@using CodingPortal2.Shared
@model CodingPortal2.Pages.LogoutAsOtherUserModel

@{
    Layout = UserHelper.GetLayoutBasedOnPermissionLevel(Model.PermissionLevel);
    ViewData["Title"] = "Logout";
}

<!DOCTYPE html>

<div>
</div>